<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments::head"/>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>

        <nav class="navbar navbar-expand-lg main-navbar" th:include="fragments::nav"/>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a th:href="@{/index}">CMR System</a>
                </div>
                <div class="sidebar-user">
                    <div class="sidebar-user-picture">
                        <img alt="image" src="../images/baba.jpg">
                    </div>
                    <div class="sidebar-user-details">
                        <div class="user-name">Michal Zacpal</div>
                        <div class="user-role">
                            -G-O-D-
                        </div>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Actions</li>
                    <li class="active">
                        <a th:href="@{/allEmail}"><i class="ion ion-email"></i><span>Received Emails</span></a>
                    </li>
                    <li>
                        <a th:href="@{/newEmail}"><i class="ion ion-android-add-circle"></i><span>New Email</span></a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div>Received Emails</div>
                </h1>
            </section>

            <section th:each="email: ${emailList}" class="section">
                <div class="card card-info">
                    <div class="card-header">
                        <div class="float-right">
                            <a href="#" class="btn btn-sm btn-info">Detail</a>
                        </div>
                        <h4 style="font-size: 15px" th:text="${email.subject} + ' - ' + ${email.sendToNames[0]} "/>
                        <p style="font-weight: bold; padding-left: 10px" th:text=" 'Recieved - ' + ${email.sendDate}"></p>
                    </div>
                    <div class="card-body" th:text="${email.preview} + '...'"></div>
                </div>
            </section>

        </div>
        <footer class="main-footer" th:include="fragments::footer"/>
    </div>
</div>
</body>
</html>