<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments::head"/>

<body>
<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>

        <nav class="navbar navbar-expand-lg main-navbar" th:include="fragments::nav"/>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
                <div th:replace="fragments::leftSidebarHeader"></div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Tasks & Meetings</li>
                    <li>
                        <a th:href="@{/index}"><i class="ion ion-alert"></i><span>Today Activities</span></a>
                    </li>
                    <li>
                        <a th:href="@{/actualMeetings}"><i
                                class="ion ion-person-stalker"></i><span>Actual Meetings</span></a>
                    </li>
                    <li>
                        <a th:href="@{/actualTasks}"><i class="ion ion-clipboard"></i><span>Actual Tasks</span></a>
                    </li>
                    <li>
                        <a th:href="@{/unmetActivities}"><i class="ion ion-close"></i><span>Unmet Activities</span></a>
                    </li>
                    <li class="active">
                        <a th:href="@{/historyActivities}"><i class="ion ion-clock"></i><span>History</span></a>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="main-content">
            <section class="section">
                <h1 class="section-header ">
                    <div>History Activities</div>
                    <div th:replace="newActivityFragment::newTaskButton"></div>
                    <div th:replace="newActivityFragment::newMeetButton"></div>
                </h1>
                <h2>
                    <div class="">
                        <div class="btn-group">
                            <a id="btnAllSw" href="#" onclick="btnSwAllClick()"
                               class="btn btn-sm active">All</a>
                            <a id="btnMeetingSw" href="#" onclick="btnSwMeetClick()"
                               class="btn btn-sm">Meetings</a>
                            <a id="btnTaskSw" href="#" onclick="btnSwTaskClick()"
                               class="btn btn-sm">Tasks</a>
                        </div>
                    </div>
                </h2>
            </section>
            <div id="sectionMeet">
                <section th:each="meetingSumm: ${meetingSummList}" class="section">
                    <div class="card card-info">
                        <div class="card-header">
                            <div th:replace="fragments::detailMeetBtn"></div>
                            <div th:replace="fragments::meetingTabsHeadContent"></div>
                        </div>

                        <div th:replace="fragments::meetPreview"></div>

                        <div th:id="'showNoteMeet'+${meetingSumm.meeting.id}" style="display: none">
                            <div class="card-body" th:text="${meetingSumm.meeting.note}"></div>
                            <div class="row" style="padding-bottom: 10px">
                                <div style="padding-right: 10px; padding-left: 30px">
                                    <a th:href="@{/actFactory/editActivity(id = ${meetingSumm.meeting.id}, isTask = false)}"
                                       class="btn btn-sm btn-dark">Edit</a>
                                </div>
                                <div style="padding-right: 10px">
                                    <a th:href="@{/undoActivity(id = ${meetingSumm.meeting.id}, pageNo = 4, isTask = false)}"
                                       class="btn btn-sm btn-warning">Undo</a>
                                </div>
                                <div>
                                    <a th:href="@{/deleteActivity(id = ${meetingSumm.meeting.id}, pageNo = 4, isTask = false)}"
                                       class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div id="sectionTask">
                <section th:each="taskSumm: ${taskSummList}" class="section">
                    <div class="card card-warning">
                        <div class="card-header">
                            <div th:replace="fragments::detailTaskBtn"></div>
                            <div th:replace="fragments::taskTabsHeadContent"></div>
                        </div>

                        <div th:replace="fragments::taskPreview"></div>

                        <div th:id="'showNoteTask'+${taskSumm.task.id}" style="display: none">
                            <div class="card-body" th:text="${taskSumm.task.note}"></div>
                            <div class="row" style="padding-bottom: 10px">
                                <div style="padding-right: 10px; padding-left: 30px">
                                    <a th:href="@{/actFactory/editActivity(id = ${taskSumm.task.id}, isTask = true)}"
                                       class="btn btn-sm btn-dark">Edit</a>
                                </div>
                                <div style="padding-right: 10px">
                                    <a th:href="@{/undoActivity(id = ${taskSumm.task.id}, pageNo = 4, isTask = true)}"
                                       class="btn btn-sm btn-warning">Undo</a>
                                </div>
                                <div>
                                    <a th:href="@{/deleteActivity(id = ${taskSumm.task.id}, pageNo = 1, isTask = true)}"
                                       class="btn btn-sm btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>
        <footer class="main-footer" th:include="fragments::footer"/>
    </div>
    <script type="text/javascript">
        function btnSwAllClick() {
            console.log("Meet clicked");
            var btnAll = document.getElementById("btnAllSw");
            var btnMeet = document.getElementById("btnMeetingSw");
            var btnTask = document.getElementById("btnTaskSw");
            var sectionMeet = document.getElementById("sectionMeet");
            var sectionTask = document.getElementById("sectionTask");
            btnAll.classList.add("active");
            btnMeet.classList.remove("active");
            btnTask.classList.remove("active");
            sectionMeet.style.display = "block";
            sectionTask.style.display = "block";
        }

        function btnSwMeetClick() {
            console.log("Meet clicked");
            var btnAll = document.getElementById("btnAllSw");
            var btnMeet = document.getElementById("btnMeetingSw");
            var btnTask = document.getElementById("btnTaskSw");
            var sectionMeet = document.getElementById("sectionMeet");
            var sectionTask = document.getElementById("sectionTask");
            btnMeet.classList.add("active");
            btnTask.classList.remove("active");
            btnAll.classList.remove("active");
            sectionMeet.style.display = "block";
            sectionTask.style.display = "none";
        }

        function btnSwTaskClick() {
            console.log("Task clicked");
            var btnAll = document.getElementById("btnAllSw");
            var btnTask = document.getElementById("btnTaskSw");
            var btnMeet = document.getElementById("btnMeetingSw");
            var sectionMeet = document.getElementById("sectionMeet");
            var sectionTask = document.getElementById("sectionTask");
            btnTask.classList.add("active");
            btnMeet.classList.remove("active");
            btnAll.classList.remove("active");
            sectionMeet.style.display = "none";
            sectionTask.style.display = "block";
        }

        window.onload = btnSwAllClick();
    </script>
</div>
</body>
</html>