<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments::head"/>

<body>

<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>

        <nav class="navbar navbar-expand-lg main-navbar" th:include="fragments::nav"/>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
                <div th:replace="fragments::leftSidebarHeader"></div>
                <ul class="sidebar-menu">
                    <li class="menu-header">Tasks & Meetings</li>
                    <li class="active">
                        <a th:href="@{/index}"><i class="ion ion-alert"></i><span>Today Activities</span></a>
                    </li>
                    <li>
                        <a th:href="@{/actualMeetings}"><i
                                class="ion ion-person-stalker"></i><span>Actual Meetings</span></a>
                    </li>
                    <li>
                        <a th:href="@{/actualTasks}"><i class="ion ion-clipboard"></i><span>Actual Tasks</span></a>
                    </li>
                    <li>
                        <a th:href="@{/unmetActivities}"><i class="ion ion-close"></i><span>Unmet Activities</span></a>
                    </li>
                    <li>
                        <a th:href="@{/historyActivities}"><i class="ion ion-clock"></i><span>History</span></a>
                    </li>
                </ul>
            </aside>
        </div>
        <div th:replace="fragmentTaskAndMeeting.html::taskAndMeeeting"></div>
        <footer class="main-footer" th:include="fragments::footer"/>
    </div>
</div>
</body>
</html>