<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head th:include="fragments::head"/>

<body>

<div id="app">
    <div class="main-wrapper">
        <div class="navbar-bg"></div>

        <nav class="navbar navbar-expand-lg main-navbar" th:include="fragments::nav"/>

        <div class="main-sidebar">
            <aside id="sidebar-wrapper">
                <div th:replace="fragments::leftSidebarHeader"></div>
            </aside>
        </div>
        <div class="main-content">
            <section class="section">
                <h1 class="section-header ">
                    <div> List of contacts</div>
                </h1>
            </section>

            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <div class="float-right">
                            <form th:action="@{/contacts/searchContacts}" method="get">
                                <div class="input-group">
                                    <input th:name="searchName" type="text" class="form-control" th:placeholder="Search"
                                           id="inputSearchContact">
                                    <!--<input th:if="${isTask == true}" type="hidden" th:name="isTask" value="true"/>-->
                                    <!--<input th:if="${isTask == false}" type="hidden" th:name="isTask" value="false"/>-->

                                    <div class="input-group-btn">
                                        <input type="submit" class="btn btn-secondary" value="Search"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <h4>Contact Table</h4>
                    </div>
                    <div class="card-body p-0">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Company</th>
                                    <th>Work position</th>
                                    <th>Enter</th>
                                </tr>
                                </thead>
                                <tbody th:each="cont : ${searchedCont}">

                                <tr>
                                    <td th:text="${cont.firstName}"></td>
                                    <td th:text="${cont.surname}"></td>
                                    <td th:text="${cont.company}"></td>
                                    <td th:text="${cont.workPosition}"></td>
                                    <td><a class="btn btn-sm btn-primary "
                                           th:href="@{/contacts/contactDetail(contId = ${cont.id})}">Enter</a></td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        </div>
        <footer class="main-footer" th:include="fragments::footer"/>
    </div>
</div>
</body>
</html>