<!DOCTYPE html>
<html lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>user contact fragment</title>
</head>
<body>

<div th:fragment="formUserBody">
    <label for="firstName">First name</label>
    <input id="firstName" type="text" th:field="*{firstName}" name="firstName"
           class="form-control" placeholder="First name">
    <div class="invalid-feedback">
        Please fill in the first name
    </div>

    <label for="Surname">Surname</label>
    <input id="Surname" type="text" th:field="*{surname}" name="surname"
           class="form-control" placeholder="First name">
    <div class="invalid-feedback">
        Please fill in the surname
    </div>

    <label for="workPosition">Work position</label>
    <input id="workPosition" type="text" th:field="*{workPosition}" name="workPosition"
           class="form-control" placeholder="Work Position">

    <label for="telNumber">Telephone number</label>
    <input id="telNumber" type="number" th:field="*{telNumber}" name="telNumber"
           class="form-control" placeholder="Telephone Number">

    <label for="bornDate">Born date</label>
    <input id="bornDate" type="date" th:field="*{bornDate}" name="bornDate"
           class="form-control" placeholder="Born date">

    <label for="academicDegree">Academic degree</label>
    <select id="academicDegree" class="form-control" th:field="*{academicDegree}">
        <option th:each="academicDegree : ${T(com.michal.crm.model.types.AcademicDegreeTypes).values()}"
                th:value="${academicDegree}"
                th:text="${academicDegree}">
        </option>
    </select>

    <div><label style="font-size: 20px; padding-top: 5px">Address</label></div>
    <label for="street">Street</label>
    <input id="street" type="text" th:field="*{address.street}" name="street"
           class="form-control" placeholder="Street">

    <label for="streetNo">Street number</label>
    <input id="streetNo" type="number" th:field="*{address.streetNo}" name="streetNo"
           class="form-control" placeholder="Street number">

    <label for="city">City</label>
    <input id="city" type="text" th:field="*{address.city}" name="city"
           class="form-control" placeholder="City">

    <label for="zip">ZIP</label>
    <input id="zip" type="number" th:field="*{address.zip}" name="zip"
           class="form-control" placeholder="ZIP">

    <label for="state">State</label>
    <input id="state" type="text" th:field="*{address.state}" name="state"
           class="form-control" placeholder="State">
</div>

</body>
</html>